<div class="row">
	<div class="form-card col s10 offset-s1 m8 offset-m2">
		<h3>Sign Up</h3>
		<h5>> Please provide us with your information:</h5>
		<br />
		<form method="post" action="/auth/signup" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i>
					<input type="text" name="firstname" class="validate" placeholder="First Name" />
					<label>First Name:</label>
				</div>
				<div class="input-field col s6">
					<input type="text" name="lastname" class="validate" placeholder="Last Name" />
					<label>Last Name:</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">perm_identity</i>
					<input type="text" name="username" class="validate" placeholder="Username" />
					<label>Display Name:</label>
				</div>
				<div class="input-field col s6">
					<input type="text" name="email" class="validate" placeholder="Email" />
					<label>Email:</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">vpn_key</i>
					<input type="password" name="password" class="validate" placeholder="Password" />
					<label>Password:</label>
				</div>
				<div class="input-field col s6">
					<input type="password" name="passwordVerify" class="validate" placeholder="Validate Password" />
					<label>Password Verification:</label>
				</div>
			</div>
			<div class="row center">
				<input type="submit" value="Sign Up" class="submit-button btn waves-effect grey lighten-1" />
			</div>
		</form>
	</div>
</div>
