<div>
	<h3>Welcome back, <%= currentUser.firstname %>!</h3>
</div>
<div>
	<h3>Posts I Wrote</h3>
		<a href="#">Click here</a> to write your first post!
</div>
<div>
	<h3>Posts I'm Following</h3>
		You aren't tracking any posts yet!
</div>