<h1>Create a new post</h1>

<form action="/posts" method="POST">
  <div>
    <label for="subject">Subject</label>
    <input type="text" id="subject" name="subject" required>
    <label for="content">Content</label>
    <input type="text" id="content" name="content" required>
    <label for="site">Sites:</label>
    <label>Topics:</label>
    <input type="text" name="topics" placeholder="comma-separated list of topics"  >
    <input type="submit">

</form>